html {
	background:white;
}

.page-content {
	position:relative;
	padding-left:220px;
	z-index:0;
	transition: ease-in-out 0.3s;
}
.sidebar {
	background: #363636;
	position:fixed;
	top: 0px;
	left: 0px;
	z-index:0;
	width: 180px;
	height:100%;
	transition: ease-in-out 0.3s;

}
.sidebar li {
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	margin-bottom:10px;
	color: rgba(255,255,255,0.8);
	-webkit-font-smoothing:antialiased;
	list-style-type: none;
	cursor:pointer;
	transition: ease-in-out 0.2s;
}
.sidebar li:hover{
	color: rgba(255,255,255,1);
	transition: ease-in-out 0.2s;
}

#sidebartoggler {
	display: none;
}
.bottompiece {
	position:absolute;
	left: 35px;
	bottom: 10px;
	color: rgba(255,255,255,0.5);
	font-size:20px;
}
.bottompiece i {
	transition: ease-in-out 0.2s;
}

.bottompiece i:hover {
	color:rgba(255,255,255,0.8);
}

.toggle {
	position:absolute;
	top:20px;
	left:200px;
	color: rgba(0,0,0,.5);
	z-index:1;
	text-decoration:none;
	font-size:28px;
	transition: ease-in-out 0.3s;
}

.toggle:hover {
	color: rgba(0,0,0,0.8);
}

/* why dont htis work? */
#sidebartoggler:checked + .sidebar {

}
